@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


    @RenderSection("Title", required: false)

    <div class="row">
        <div class="col-12">

            @RenderBody()

        </div>

    </div>



@await RenderSectionAsync("Scripts", required: false)
