@model UpdateArticleModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_FormsLayout.cshtml";
}
@section Title
    {

<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 d-flex align-it.btnems-center">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard"><i class="mdi mdi-home-outline fs-1"></i> </a> <h1 class="mb-0 ms-2">Article</h1></li>
                </ol>
            </nav> 
        </div>
        <div class="col-6">
             
        </div>
    </div>
</div> 
}


<div class="row">
    <div class="col-12">

        <div class="card shadow">
            <div class="card-body">

                <form asp-action="Update">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="AuthorId" />

                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                       @* <input asp-for="Description" class="form-control" />*@
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control",style = "height: 100px;" } )
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <input type="submit" value="Save" class="btn btn-outline-primary" />
                        <a asp-action="List" asp-controller="Article">Back to Article List</a>
                    </div>
                </form>
                  
            </div>

            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        </div>
    </div>
</div>

