
 
    <div class="card">
        <div class="card-body">
            <div class="d-md-flex align-items-center">
                <div>
                    <h4 class="card-title">Sales Summary</h4>
                    <h6 class="card-subtitle">Ample admin Vs Pixel admin</h6>
                </div>
                <div class="ms-auto d-flex no-block align-items-center">
                    <ul class="list-inline dl d-flex align-items-center m-r-15 m-b-0">
                        <li class="list-inline-item d-flex align-items-center text-info">
                            <i class="fa fa-circle font-10 me-1"></i> Ample
                        </li>
                        <li class="list-inline-item d-flex align-items-center text-primary">
                            <i class="fa fa-circle font-10 me-1"></i> Pixel
                        </li>
                    </ul>
                </div>
            </div>
            <div class="amp-pxl mt-4" style="height: 350px;">
                <div class="chartist-tooltip"></div>
            </div>
        </div>
    </div>
