 @{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 
<div class="container" >
    <a asp-action="Index" asp-controller="Home"> <img src="~/images/forbidden.png" class="img-fluid" alt="..."> </a>
</div>

 