@model PresentationLayer.Models.Users.UserLoginModel

@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PresentationLayer.styles.css" asp-append-version="true" />

</head>
<body>

    <div class="container mt-5">
        <div class="row">

            <div class="col-md-2"></div>

            <div class="col-md-8 mt-5">
                <div class="card text-right mt-5">
                    <div class="card-header">
                        Welcome to Login Page 🤗
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <form asp-action="Login">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Username" class="control-label"></label>
                                <input asp-for="Username" class="form-control" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            <div class="form-group mt-3">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" type="password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="form-group mt-3 col-md-8">
                                    <input type="submit" value="Login" class="btn btn-primary" />
                                </div>
                                <div class="form-group mt-3 col-md-4 d-flex flex-nowrap gap-1 text-nowrap">
                                     <a asp-action="ResetPassword" asp-controller="Account">Forget Password</a>
                                </div>
                            </div> 
                        </form>
                    </div>
                    <div class="card-footer text-muted">
                        If you don't have an account or want to create new one click here 👉🏼 <a asp-action="Register" asp-controller="Account">Register</a>
                    </div>
                </div>
            </div>
             
            <div class="col-md-2"></div>
        </div>
          
    </div>
     
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body> 
</html>



